    
<div *ngIf="!noData">
    <!-- Header -->
    <header class="ex-header">
     <div class="container">
         <div class="row">
             <div class="col-xl-10 offset-xl-1">
                <i *ngIf="isUserLoading" class="fa fa-spin fa-2x fa-circle-notch"></i>
                 <h2 *ngIf="user && !isUserLoading">{{user.attributes.first_name ? user.attributes.first_name : ''}}&nbsp;{{user.attributes.last_name}}'s <span class="fz-18">SHYFT device Information</span></h2>
             </div> <!-- end of col -->

             <div class="search-input">
                <span class="search-icon">
                    <i class="fas fa-search"></i>
                </span>
                <div class="input-group mb-3">
                    <input  [(ngModel)]="searchValue" (ngModelChange)="modelChangeFn($event)" type="text" class="form-control" placeholder="Search by Household ID only..." aria-label="Search by Household ID only..." aria-describedby="button-addon2">
                    <button (click)="submitBtn()" class="btn form-control-submit-button" type="button" id="button-addon2">Go</button>
                  </div>
            </div>   
         </div> <!-- end of row -->
     </div> <!-- end of container -->
 </header> <!-- end of ex-header -->
 <!-- end of header -->

    <!-- User's name -->
    <app-basic loading="isUserLoading" *ngIf="user" title="User's name" subtitle="{{user.attributes.first_name}}&nbsp;{{user.attributes.last_name}}"> </app-basic>

    <!-- Current Residence -->
    <app-basic loading="isHouseholdLoading" *ngIf="household" title="Current Residence" subtitle="{{household.attributes.address_1}}"> </app-basic>

    <!-- Total Energy used for Today -->
    <app-basic loading="isHouseholdLoading" *ngIf="household" errorMessage="{{errorMessage}}" title="Total Energy used for Today" subtitle="{{totalEnergyUsedtoday ? totalEnergyUsedtoday+' Joules' : ''}}"> </app-basic>
    
</div> 

<app-error *ngIf="noData"></app-error>