.search-input{
    position: relative;
    margin-top: 30px;
}

input{
    padding-left: 55px;
}

.search-icon{
    position: absolute;
    left: 3%;
    top: 15px;
    z-index: 999;
}

.search-icon i {
    color: #272556;
    font-size: 20px;
}